#categories_browse {
    @categories_browse_width: 680px;
    @categories_browse_padding: 8px;
    @categories_browse_min_height: 445px;
    @categories_list_width: 168px;

    //width: @categories_browse_width;
    min-height: @categories_browse_min_height;

    padding: @categories_browse_padding;

    position: absolute;
    top: @header_height;

    background: rgb(255,255,255,0.71);
    box-shadow: 1px 1px 8px rgb(64,64,64,0.41);

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid #444;

    z-index: 999;

    .categories_list {

        width: @categories_list_width;
        min-height: @categories_browse_min_height;

        float: left;

        padding-right: @categories_browse_padding;

        color: #333;

        .row {
            @height: 1.618 * @font_size;

            height: @height;

            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }

            .text {
                display: inline-block;
                float: left;
                cursor: pointer;
                &:hover {
                    color: @link_color;
                    text-decoration: underline;
                }
            }

            .icon {
                line-height: @height;
                float: right;
            }
        }
    }

    .categories_detail {
        display: none;
        background: #eee;

        float: left;
        width: @categories_browse_width - @categories_list_width - @categories_browse_padding - 1;
        min-height: @categories_browse_min_height;

        .row {
            width: 100%;
        }
    }

}
