#categories_browse {
    display: none;
    @categories_browse_width: 680px;
    @categories_browse_padding: 8px;
    @categories_browse_min_height: 445px;
    @categories_list_width: 168px;

    //width: @categories_browse_width;
    min-height: @categories_browse_min_height;

    padding: @categories_browse_padding;

    position: fixed;
    top: @header_height;

    background: rgba(255,255,255,0.9);
    box-shadow: 1px 1px 32px rgba(0,0,0,0.4);
    border: 1px solid #999;
    border-top: 0;

    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    z-index: 999;

    .categories_list {

        width: @categories_list_width;
        min-height: @categories_browse_min_height;

        float: left;

        padding-right: @categories_browse_padding;

        color: #333;

        .row {
            @height: 1.618 * @font_size;

            height: @height;

            margin-bottom: 6px;

            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            .text {
                display: inline-block;
                float: left;
            }

            .icon {
                display: none;
                color: #ddd;
                line-height: @height;
                float: right;
            }

            &:hover {
                color: @link_color;
            }
        }
    }

    .categories_detail {
        @padding_left: 24px;
        width: @categories_browse_width - @categories_list_width - @categories_browse_padding - 1 - @padding_left;
        min-height: @categories_browse_min_height;
        padding-left: @padding_left;

        float: left;
        border-left: 1px dashed @link_color3;

        .row {
            width: 100%;
            margin-bottom: 6px;
            cursor: pointer;
            &:hover {
                color: @link_color;
            }
        }
    }
}
