.dialog_box_base( @_width , @_height ) {
//{{{
    .dialog_box_var {
        @padding: 4px;
        @width: @_width - (@padding * 2) - 2;
        @height: @_height - (@padding * 2) - 2;
        @radius: 6px;
    }

    .dialog_box_var;

    width: @width;
    min-height: @height;

    left: 50%;
    top: 35%;
    margin-left: -(@width / 2);
    margin-top: -(@height / 2);
    position: fixed;

    border: 1px solid #757575;
    padding: 4px;
    border-radius: @radius;

    .dialog {
        .dialog_var {
            @header_height: 32px;
            @footer_height: 32px;
            @dialog_padding: 8px;
        }
        .dialog_var;

        border: 1px solid #656565;
        background: #fbfbfb;
        border-radius: @radius;

        .header {
            height: @header_height;

            line-height: @header_height;

            border-bottom: 1px solid #ddd;
            border-top-right-radius: @radius;
            border-top-left-radius: @radius;

            text-align: left;

            padding: 8px @dialog_padding;

            .close {
                cursor: pointer;
                float: right;
                display: inline-block;
                line-height: @header_height;
                color: #333;
            }

            .title {
                font-weight: bolder;
                color: @link_color2;
            }

            .sub_title {
                color: #ccc;
                font-size: 12px;
                line-height: @header_height;
            }
        }

        .body {
            .dialog_box_var;

            min-height: @height - @header_height - @header_height - (@dialog_padding * 2) - 2;
            padding: @dialog_padding;

            .item {
                margin: 14px 0;

                .input {
                    .dialog_box_var;
                    .dialog_var;

                    @padding_left_right: 4px;

                    width: (@width - (@padding * 2) - 2) - (@dialog_padding * 2) - 2;
                    padding: 8px @padding_left_right;

                    border: 1px solid #ddd;
                    border-radius: 4px;
                    font-size: 14px;

                    &:focus {
                        border: 1px solid #999;
                    }
                }

                .select {
                    border: none;
                    border-radius: 4px;
                    font-size: 14px;
                    background: #dedede;
                    padding: 4px;
                    -webkit-appearance: initial;
                    min-width: 64px;
                }

                .small_input {
                    width: 64px;
                }

                .error_info {
                    color: #bd082d;
                    background: #fdd;
                    text-decoration: underline;
                }

                .hint {
                    font-size: 12px;
                    color: #ccc;
                }
            }
        }

        .footer {
            height: @footer_height;
            line-height: @footer_height;
            padding: 12px @dialog_padding;

            border-top: 1px double #ddd;
            border-bottom-right-radius: @radius;
            border-bottom-left-radius: @radius;
            text-align: right;

            .text {

            }
        }
    }
}//}}}

.dialog_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index: 999;
}

//default
.dialog_box {
    .dialog_box_base( 384px , 256px );
}

#seller_login_dialog {
    
}

#add_new_product_dialog {
    .dialog_box_base( 512px , 256px );
}
