.dropdown {
    .var {
        @width: 128px;
    }
    .var;

    width: @width;
    min-height: 64px;
    //top: 47px;
    padding-top: 8px;
    position: fixed;
    background: rgba(250, 250, 250, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 0;

    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    z-index: 900;
;
    display: none;

    .menu {

    }

    .menuitem {
        .var {
            @height: 24px;
            @padding: 8px;
        }
        .var;
        height: @height;

        margin-bottom: 4px;
        padding: 0 @padding;
        display: inline-block;
        .dropdown > .var;
        width: @width - (@padding * 2);
        line-height: @height;
        float: left;
        clear: both;

        cursor: pointer;

        &:hover {
            background: @link-color4;
        }

        .menuitem_link {
            color: @link-color4-darken;
        }
    }
}
