#footer {
    width: 100%;

    margin-top: 24px;
    padding: 12px 8px;

    font-weight: 200;
    color: @link-color4;
    text-align: center;
    clear: both;
    display: inline-block;
    background: #F7F7F7 url(picture/common/bg_texture_dark.jpg) repeat scroll 0px 0px;

    .footer-row {
        width: @box_width;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer-row-info-list {
        display: inline-block;
    }

    .footer-row-info-list-item {
        float: left;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    .footer-row-info-link {
        color: @link-color4;

        &:hover {
            color: @link-color;
            text-decoration: underline;
            text-shadow: none;
        }
    }
}

