@header_height: 48px;

#header {
    @logo_box_width: 96px;
    @header_bg_color: #d5d5d5;

    width: 100%;
    height: @header_height;

    background: @header_bg_color;
    border-bottom: 1px solid #999;
    box-shadow: 0 1px 2px rgb(192,192,192, 0.12);

    position: fixed;
    top: 0;

    z-index: 9999;

    .loading {
        @width: 48px;

        height: @header_height;
        line-height: @header_height;
        width: 48px;

        position: absolute;
        left: 50%;
        margin-left: -(@width / 2);

        display: inline-block;
        text-align: center;

        font-size: 32px;
        color: rgba(64,64,64,0.31);
    }

    .logo_box {
        width: @logo_box_width;
        line-height: @header_height;
        height: @header_height;
        background: @link_color;
        display: inline-block;
        float: left;
        text-align: center;
    }

    .logo {
        @size: 58px;

        font-size: 24px;
        font-weight: bolder;
        color: #fff;
        display: inline-block;
        position: relative;
    }

    #nav {
        line-height: @header_height;
        @item_bg_color: #666;

        .item_active(@bg_color) {
            background: darken( @bg_color , 3% );
        }

        .item {
            cursor: pointer;
            float: left;
            border-right: 1px solid #717171;
            width: 96px;
            background: @item_bg_color;
            text-align: center;

            color: #fff;
            &:hover {
                .item_active(@item_bg_color);
            }

            &:last-child {
                border: 0;
            }
        }

        .nav_user {
            float: right;

            .login_btn {
                @bg_color: #4ea074;
                background: @bg_color;
                &:hover {
                    .item_active(@bg_color);
                }
            }

            .signup {
                background-color: rgba(255,255,255,0.6);
            }

            .userinfo {
                background: #b5b5b5;
                color: #000;
            }
        }
    }
}
