#header {
    .header-vars {
         @header-height: 48px;
         @header-logo-box-width: 96px;
    };
    .header-vars;

    width: 100%;
    height: @header-height;

    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(64, 64, 64, 0.8);

    top: 0;
    position: fixed;

    z-index: 1000;

    .loading {
        .header-loading-vars {
            @width: 48px;
        };
        .header-loading-vars;

        height: @header-height;
        line-height: @header-height;
        width: @width;

        position: absolute;
        left: 50%;
        margin-left: -(@width / 2);

        display: none;
        text-align: center;

        font-size: 24px;
        color: @link-color4-darken;
    }

    .logo-box {
        width: @header-logo-box-width;
        line-height: @header-height;
        height: @header-height;
        background: @link-color-darken;
        display: inline-block;
        float: left;
        text-align: center;
    }

    .logo {
        display: inline-block;
        position: relative;

        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
}

#nav {
    #header > .header-vars;
    @item_bg_color: #666;

    .item-active(@bg_color) {
        background: darken( @bg_color , 0.5% );
    }

    .nav-item {
        cursor: pointer;
        float: left;
        background: @link-color4-darken;
        text-align: center;
        display: inline-block;
        line-height: @header-height;
        padding: 0 8px;
        color: #fff;

        &:hover {
            .item-active(@item_bg_color);
        }

        &:last-child {
            border: 0;
        }
    }

    .categories-browse-btn {
        padding: 0 16px;
    }

    .nav-user {
        float: right;

        .userinfo {
            min-width: 64px;
            font-weight: 100;

            .role {
                color: rgba(220, 220, 220, 0.7);
            }

            &:hover {

            }
        }
    }
}

