.items_list {
    @items_height: 256px;

    .title {
        color: #999;
    }

    .row {
        display: inline-block;

        .page_box {
            .page_box_var {
                @page_box_width: 512px;
                @page_box_height: 48px;
            }
            .page_box_var;

            width: @page_box_width;
            height: @page_box_height;

            position: absolute;
            left: 50%;
            margin-top: @items_height - @page_box_height - 12px;

            margin-left: -(@page_box_width / 2);

            border-radius: 4px;
            border: 1px dashed @link-color;
            background: rgba(0,0,0,0.1);
            text-align: center;

            .page {
                display: inline-block;
                padding: 0;
                width: 100%;
                height: @page_box_height;
                line-height: @page_box_height;

                .text {
                    display: inline-block;
                    padding: 0 4px;
                    margin: 2px;
                    line-height: normal;
                    list-style-type: none;
                    color: #666;
                }

                .page_no {
                    .text;
                    cursor: pointer;
                    &:hover {
                        background: #bbb;
                        text-decoration: underline;
                    }
                }

                .current_page {
                    background: @link-color;
                    color: #fff;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .item_box {
            @margin_right: 12px;
            @item_width: (@box_width - (@margin_right * 3)) / 4;

            width: (@box_width - (@margin_right * 3)) / 4;
            height: 280px;

            margin: 0 @margin_right @margin_right 0;
            &:nth-child(4n) {
                margin-right: 0;
            }

            background: #fefefe;
            box-shadow: 0 0 1px rgba(0,0,0,0.2);

            display: inline-block;
            overflow: hidden;
            float: left;

            &:hover {
                box-shadow: 0 0 3px rgba(0,0,0,0.6);
            }

            .pic_box {
                width: @item_width;
                height: 192px;
                margin-bottom: 8px;
                overflow: hidden;
                cursor: pointer;
                text-align: center;
            }

            .text_box {
                @padding: 8px;
                width: @item_width - (@padding * 2);
                padding: 0 @padding;
                display: inline-block;
            }

            .title {
                text-align: center;
            }

            .describe {
                
            }

            .small-text {
                font-size: 12px;
                color: @link-color4-darken;
            }

            .item-box-text-box-price {
                .small-text;
            }

            .item-box-text-box-shop-address {
                .small-text;
            }
        }
    }
}
