@font_size: 14px;
@box_width: 960px;
@link_color: #d3564a;

@import "header";
@import "categories_browse";
@import "search";

body {
    padding: 0;
    margin: 0;
    font-size: @font_size;
    font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
    line-height: 1.62;
}

.box {
    width: @box_width;
    margin: 0 auto;
}

