@font_size: 14px;
@box_width: 960px;
@link_color: #ac1e4c;
@link_color2: #2481b9;
@link_color3: #6d6d6d;

@import "header";
@import "categories_browse";
@import "search";
@import "items_list";
@import "hot_items_rank";
@import "footer";

input, textarea {
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-size: @font_size;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    color: @link_color;
    text-decoration: none;
}

#wrapper {
    line-height: 1.62;
}

.box {
    width: @box_width;
    margin: 0 auto;

    .box_row {
        margin-top: 12px;
    }
}


