@font_size: 13px;
@box_width: 960px;

//link colors
//{{{
@link-color: #e36768;
@link-color-darken: #c63032;

@link-color2: #e4b171;
@link-color2-darken: #cf8a39;

@link-color3: #8ab375;
@link-color3-darken: #5c9043;

@link-color4: #cbcbcb;
@link-color4-darken: #747474;

@link-color5: #1293d1;
@link-color5-darken: #1286bd;

@link-color6: #25b883;
@link-color6-darken: #389367;
//}}}

@bg: rgba(250, 250, 250, 0.95);

//import
//{{{

@import "btn";
@import "header";
@import "categories_browse";
@import "search";
@import "items_list";
@import "hot_items_rank";
@import "tooltip";
@import "dropdown";
@import "dialog";
@import "footer";
@import "product_list";
@import "product_detail";
@import "shop_page";
@import "sys_notice";
@import "not_found_page";
@import "home_page_services_info";

//}}}

//base elements
//{{{
input, textarea {
    outline: none;
    resize: none;
}

ul , ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;

    //background: #e6e6e6;
    background: #F7F7F7 url(/picture/common/bg_texture.jpg) repeat scroll 0px 0px;

    font-size: @font_size;
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;

    -webkit-font-feature-settings: "frac";
    -moz-font-feature-settings: "frac";
    font-feature-settings: "frac";

    overflow-y: scroll;
}

a {
    color: @link-color;
    text-decoration: none;
}
//}}}

#wrapper {
    #header > .header-vars;

    line-height: 1.618;
    margin-top: @header-height + 24px;
}

.box {
    .box-vars {
        @box-left-padding: 12px;
        @box-right-padding: 12px;

        @box-left-width-origin: 300px;

        @box-left-border-radius: 5px;
        @box-left-width: @box-left-width-origin - (@box-left-padding * 2) - 2;
        @box-left-mairgin-right: 12px;
        @box-right-width: @box_width - @box-left-width-origin - @box-left-mairgin-right - (@box-right-padding * 2) - 2;
        @bg-color: #f9f9f9;
    }
    .box-vars;

    width: @box_width;
    margin: 0 auto;

    .box_row {
        margin-top: 12px;
    }

    .box-placeholder {
        //@SEE items_list.less
        width: 100%;
        min-height: 256px;
    }

    .box-left {
        width: @box-left-width;
        margin-right: @box-left-mairgin-right;
        padding: @box-left-padding;

        border-radius: @box-left-border-radius;
        border: 1px solid rgba(0,0,0,.1);
        float: left;
        background: @bg-color;
    }

    .box-left-item {
        margin-bottom: 12px;
    }

    .box-right {
        width: @box-right-width;
        padding: @box-right-padding;

        border-radius: @box-left-border-radius;
        border: 1px solid rgba(0,0,0,.1);
        float: right;
        background: @bg-color;
    }
}



@media (min-height: 768px) {
    .box { 
        min-height: 768px;
    }
};

@media (min-height: 800px) {
    .box { 
        min-height: 800px;
    }
};


@media (min-height: 900px) {
    .box { 
        min-height: 900px;
    }
};

@media (min-height: 1000px) {
    .box { 
        min-height: 1000px;
    }
};

.gpu {
    -webkit-transform: translate3d(0, 0, 0);
    webkit-backface-visibility: hidden;
}

