#product-detail {
    .product-detail-vars {
        
    }
    .product-detail-vars;

    .product-detail-row {
        margin-bottom: 12px;
        text-align: left;
    }

    .product-detail-product-name {
        font-size: 18px;
        font-weight: bolder;
        color: @link_color;
        overflow: hidden;
    }

    .product-detail-product-image {
        min-height: 256px;
        min-width: 512px;
        border: 1px solid #bbb;
        border-radius: 3px;
        display: inline-block;
    }
}
