#product-detail {
    .product-detail-vars {
        
    }
    .product-detail-vars;

    .product-detail-row {
        margin-bottom: 12px;
        text-align: left;
        color: @link-color4-darken;
        font-weight: 100;
        display: inline-block;
        width: 100%;
        .product-detail-row-title {
            color: #333;
            font-weight: 900;
        }
    }

    .product-detail-row-left {
        float: left;
        height: 100%;
        margin-right: 24px;
    }

    .product-detail-row-right {
        float: left;
    }

    .product-detail-product-name {
        font-size: 18px;
        font-weight: bolder;
        color: @link-color;
        overflow: hidden;
    }

    .product-detail-product-image-box {
        width: @box_width / 3;
        height: @box_width / 3;
        display: inline-block;
        overflow: hidden;
        background: @bg;
    }

    .product-detail-product-image {
        max-height: 256px;
        max-width: 256px;
    }

    .product-detail-product-detail-image-list {
        display: inline-block;
    }

    .product-detail-product-detail-image-list-item {
        
    }

    .product-detail-product-detail-image-list-item-image-box {
        .product-detail-product-detail-image-list-item-image-box-vars {
            @count: 4;
            @product-detail-product-detail-image-list-item-image-box-margin-right: 8px;
            @product-detail-product-detail-image-list-item-image-box-padding: 0px;
            @product-detail-product-detail-image-list-item-image-box-size: (@box_width
                    - (@product-detail-product-detail-image-list-item-image-box-padding * (@count * 2))
                    - (@product-detail-product-detail-image-list-item-image-box-margin-right * (@count - 1))
                ) / @count;
        };
        .product-detail-product-detail-image-list-item-image-box-vars;

        width: @product-detail-product-detail-image-list-item-image-box-size;
        height: @product-detail-product-detail-image-list-item-image-box-size;
        padding: @product-detail-product-detail-image-list-item-image-box-padding;
        margin-right: @product-detail-product-detail-image-list-item-image-box-margin-right;
        &:last-child {
            margin-right: 0;
        }

        float: left;
        display: inline-block;
        overflow: hidden;
        box-shadow: 0 0px 1px #999;
        border-radius: 4px;
        background: @bg;
        &:hover {

        }
    }

    .product-detail-product-detail-image-list-item-image {

    }
}

