#product-detail {
    .product-detail-vars {
        
    }
    .product-detail-vars;

    .product-detail-row {
        margin-bottom: 12px;
        text-align: left;
        color: #777;
        font-weight: 100;
        display: inline-block;
        width: 100%;
        .product-detail-row-title {
            color: #333;
            font-weight: 900;
        }
    }

    .product-detail-row-left {
        float: left;
        height: 100%;
        margin-right: 24px;
    }

    .product-detail-row-right {
        float: left;
    }

    .product-detail-product-name {
        font-size: 18px;
        font-weight: bolder;
        color: @link-color;
        overflow: hidden;
    }

    .product-detail-product-image-box {
        width: @box_width / 3;
        height: @box_width / 3;
        display: inline-block;
        overflow: hidden;
        background: #eee;
    }
    .product-detail-product-image {
        max-height: 256px;
        max-width: 256px;
    }

    .product-detail-product-detail-image-list {
        display: inline-block;
    }

    .product-detail-product-detail-image-list-item {
        
    }

    .product-detail-product-detail-image-list-item-image-box {
        width: @box_width / 4;
        height: @box_width / 4;
        background: #eee;
        float: left;
        display: inline-block;
        overflow: hidden;
    }

    .product-detail-product-detail-image-list-item-image {
        max-height: 128px;
        max-width: 128px;
    }
}
