<li class='preview-img-box' attr-data="{{index}}">
    <span class="preview-img-func">
        <i class="fa fa-times preview-img-func-remove"></i>
    </span>
    <img class='preview-img' src="{{src}}">
</li>


