<li class='preview-img-box'>
    <span class="preview-img-func">
        <!--i class="fa fa-eye"></i-->
        <i class="fa fa-times preview-img-func-remove"></i>
    </span>
    <img class='preview-img' src="{{src}}" attr-data="{{index}}">
</li>


