<div id="edit_product_dialog" class="dialog-as-page">
<div class="dialog">

<div class="header">
    <span class="title">
        {{^product_id}}添加一件商品{{/product_id}}
        {{#product_id}}
            修改商品信息
            <a href="#product_detail/{{product_id}} ">编号: {{product_id}}</a> 
        {{/product_id}}
    </span>
    <span class="sub_title">按要求填写表单，并提交</span>
</div>

<div class="body">
    <div class="item">
        <span class="error_info"></span>
    </div>

    <div class="item">
        <input class="input" type="text" name="name" placeholder="商品名称" value="{{product_name}}">
        <span class="hint">用户将看到的名字</span>
    </div>

    <div class="item">
        <textarea class="product-describe-textarea input" name="describe" placeholder="商品描述" >{{product_describe}}</textarea>
        <span class="hint">关于本商品的一段简洁描述</span>
    </div>

    <div class="item">
        <input class="input small_input" name="original_price" type="text" placeholder="定价" value="{{product_original_price}}">
        <br />
        <span class="hint">定价，填写商品的原始定价</span>
    </div>

    <div class="item">
        <input class="input small_input" name="discount" type="text" placeholder="折扣" value="{{product_discount}}">
        <br />
        <span class="hint">折扣</span>
    </div>

    <div class="item">
        <input class="input small_input" name="quantity" type="text" placeholder="数量" value="{{product_quantity}}">
        <br />
        <span class="hint">数量，本次添加商品的数量</span>
    </div>

    <div class="item">
        <span>一级分类</span>
        <select class="select class_a_option" name="class_a"></select>
        <br />
        <span class="hint">顶级分类</span>
    </div>

    <div class="item">
        <span>二级分类</span>
        <select class="select class_b_option" name="class_b"></select>
        <br />
        <span class="hint">次级分类</span>
    </div>

    <div class="item">
        <input class="image_input" name="image_input" type="file" accept="image/*">
        <br />
        <span class="hint">上传一张商品封面图片</span>
        <ul class="image-preview preview-list"></ul>
    </div>

    <div class="item">
        <input class="detail_image_input" name="detail_image_input" type="file" multiple accept="image/*">
        <br />
        <span class="hint">上传多张商品相关的细节照片</span>
        <ul class="detail-image-preview-list preview-list"></ul>
    </div>

</div>

<div class="footer">
    <div class="btn_ok submit">
        {{^product_id}}提交{{/product_id}}
        {{#product_id}}确认修改{{/product_id}}
    </div>
</div>

</div>
</div>

