<div id="stat-statistics" class="box_row">
    <div class="stat-statistics-item">
        <span class="stat-statistics-item-title">已入驻商家</span>
        <span class="stat-statistics-item-number shop-count"></span>
    </div>
    <div class="stat-statistics-item">
        <span class="stat-statistics-item-title">已发布商品</span>
        <span class="stat-statistics-item-number product-count"></span>
    </div>
</div>

<div class="box_row home-page-common-info">
    <img src="http://maoejiestatic.u.qiniudn.com/index.jpg?imageView/2/w/960" alt="home top image" />
</div>

<div id="search-box" class="box_row"> 
</div>

<div id="hot_product_recommend" class="box_row box-placeholder">
    <span>读取中...</span>
</div>

<div id="hot_shop_recommend" class="box_row box-placeholder">
    <span>读取中...</span>
</div>

<div class="box_row home-page-common-info">
    <center>
        <div class="home-page-common-info-title"> 欢迎来到 贸e街, 我们为您提供以下服务 </div>
    </center>

    <div class="home-page-common-info-item">
        <div class="home-page-common-info-item-title">产品展示</div>
        <div class="home-page-common-info-item-text">
           如果您在批发市场中掌握足够的待销产品，如果你想进一步通过互联网平台来帮助提高您的市场销售能力，贸E街将会为您提供更加优秀的商品展示平台，并且一切都将是免费，我们会努力服务于您和您的客户以及任何潜在的客户。
       </div>
    </div>

    <div class="home-page-common-info-item">
        <div class="home-page-common-info-item-title">市场导购</div>
        <div class="home-page-common-info-item-text">
           如果您准备到批发市场中批发琳琅满目的商品，还在为挑选最有利的价格、最佳的商品质量而烦心吗，贸E街将会为您提供更多的选择空间，足不出户，电脑前就能了解最新的市场动向，最有利的价格信息，为您带来更高的效率、更多的市场收益。
        </div>
    </div>

    <div class="home-page-common-info-item">
        <div class="home-page-common-info-item-title">质量服务</div>
        <div class="home-page-common-info-item-text">
           我们为您逐一挑选每一位批发商的资料信息，让您的采购更为放心、省心。 
        </div>
    </div>

</div>

