<div id="search_box" class="box_row"> 
</div>

<div id="hot_product_recommend" class="box_row box-placeholder">
    <span>读取中...</span>
</div>

<div id="hot_shop_recommend" class="box_row box-placeholder">
    <span>读取中...</span>
</div>

