<div class="product-detail-row">
    <div class="product-detail-product-name">
        {{product_name}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-image">
        <img src="{{product_image_url}}" alt="封面图片">
    </div>
</div>

<!--div class="product-detail-product-detail-image">
    <img src="{{product_image_url}}" alt="封面图片">
</div-->

<div class="product-detail-row">
    <div class="product-detail-product-describe">
        描述 {{product_describe}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-class-a-content">
        {{product_class_a}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-class-b-content">
        {{product_class_b}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-price">
        {{product_price}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-discount">
        {{product_discount}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-quantity">
        {{product_quantity}}
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-original-price">
        {{product_original_price}}
    </div>
</div>

