<div class="box-left">
    <div class="shop-page-shop-info box-left-item">
        <h4 class="shop-page-shop-info-title">店铺信息</h4>
        <ul>
            <li>
                <span class="shop-page-shop-info-key">店铺名称</span>
                <span class="shop-page-shop-info-value">{{shopInfo.shop_name}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key">注册时间</span>
                <span class="shop-page-shop-info-value">{{shopInfo.shop_register_time}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-phone"></i></span>
                <span class="shop-page-shop-info-value">{{shopInfo.shop_tel}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-map-marker"></i></span>
                <span class="shop-page-shop-info-value">{{shopInfo.shop_address}}</span>
            </li>
        </ul>
    </div>

    <hr />

    <img class="box-left-item-qr-img" src="/picture/common/1730387088.png" alt="">
</div>

<div class="box-right">
<div class="product-detail-row">
    <div class="product-detail-product-name">
        {{product_name}}
    </div>
</div>

<!-- 商品封面圖片以及簡介信息 -->
<div class="product-detail-row">
    <div class="product-detail-row-left">
        <div class="product-detail-product-image-box">
            <div class="product-detail-product-image">
                <img src="{{product_image_url}}" alt="封面图片">
            </div>
        </div>
    </div>

    <div class="product-detail-row-right">
        <div class="product-detail-product-describe">
            <i class="fa fa-quote-left"></i> {{product_describe}} <i class="fa fa-quote-right"></i>
        </div>

        <br />

        <div class="product-detail-product-class-content product-detail-product-info">
            <span class="product-detail-row-title">分类</span>
            <span class="product-detail-row-text">{{product_class_a_name}} / {{product_class_b_name}} </span>
        </div>

        <div class="product-detail-product-price product-detail-product-info">
            <span class="product-detail-row-title">现价</span> 
            <span class="product-detail-row-text"> <i class="fa fa-jpy"></i> {{product_now_price}} </span>
        </div>

        <div class="product-detail-product-original-price product-detail-product-info">
            <span class="product-detail-row-title">原价</span> 
            <span class="product-detail-row-text"> <i class="fa fa-jpy"></i>  {{product_original_price}} </span>
        </div>

        <div class="product-detail-product-discount product-detail-product-info">
            <span class="product-detail-row-title">折扣</span>
            <span class="product-detail-row-text"> {{product_discount}} </span>
        </div>

        <div class="product-detail-product-quantity product-detail-product-info">
            <span class="product-detail-row-title">数量</span> 
            <span class="product-detail-row-text"> {{product_quantity}} </span>
        </div>
    </div>
</div>

<div class="product-detail-row">
    <div class="product-detail-product-detail-image-list">
        {{> detail_image_list}}
    </div>
</div>
</div>
