<div class="product-detail-product-detail-image-list-item-image-box">
    <div class="product-detail-product-detail-image-list-item-image">
        <img src="{{product_detail_image_url}}" alt="细节图片">
    </div>
</div>
