<div id="seller_signup">
    <div class="dialog_box">
        <div class="dialog">
            <div class="header">
                <span class="title">卖家登录</span> 
            </div>

            <div class="body">
                 <div class="item">
                    <input class="input" type="text" placeholder="邮箱">
                 </div>

                 <div class="item">
                    <input class="input" type="password" placeholder="密码">
                 </div>

                 <div class="item error_info"></div>

                 <div class="item">
                    还没有帐号？点此 <a href="#seller_signup">注册</a>
                 </div>
            </div>

            <div class="footer">
                <div class="btn_ok submit">登录</div>
            </div>
        </div
    </div>
</div>

