<div class="dialog_box">
    <div class="dialog">
        <div class="header">
            <span class="title">卖家登录</span> 
        </div>

        <div class="body">
             <div class="item">
                <input name="username" class="input" type="text" placeholder="用户名">
                <span class="hint">用户名</span>
            </div>

             <div class="item">
                <input name="password" class="input" type="password" placeholder="密码">
                <span class="hint">密码</span>
             </div>

             <div class="item">
                <div class="error_info"></div>
             </div>

             <div class="item">
                <div class="common-text">
                    还没有帐号？点此 <a href="#seller_signup">注册</a>
                </div>
             </div>
        </div>

        <div class="footer">
            <div class="btn_ok submit">登录</div>
        </div>
    </div
</div>
