<div class="dialog_box">
    <div class="dialog">
        <div class="header">
            <span class="title">卖家注册</span> 
        </div>

        <div class="body">
             <div class="item">
                <input class="input" type="text" name="username" placeholder="用户名">
             </div>

             <div class="item">
                <input class="input" type="password" name="password" placeholder="密码">
             </div>

             <div class="item">
                <input class="input" type="password" name="password_check" placeholder="确认密码">
             </div>

             <div class="item">
                <input class="input" type="text" name="register_code" placeholder="邀请码">
             </div>

             <div class="item">
                <div class="error_info"></div>
             </div>

             <div class="item">
                没有邀请码？<a href="#shop_apply">申请</a> 一个
             </div>

             <div class="item">
                已经有帐号了？去 <a href="#seller_login">登录</a>
             </div>
        </div>

        <div class="footer">
            <div class="btn_ok submit">注册</div>
        </div>
    </div>
</div>
