<div class="box-left">
    <div class="shop-page-shop-info box-left-item">
        <h4 class="shop-page-shop-info-title">店铺信息</h4>
        <ul>
            <li>
                <span class="shop-page-shop-info-key">店铺名称</span>
                <span class="shop-page-shop-info-value">{{shop_name}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key">注册时间</span>
                <span class="shop-page-shop-info-value">{{shop_register_time}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-phone"></i></span>
                <span class="shop-page-shop-info-value">{{shop_tel}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-map-marker"></i></span>
                <span class="shop-page-shop-info-value">{{shop_address}}</span>
            </li>
        </ul>
    </div>

    <div class="shop-page-shop-info box-left-item">
        <img class="box-left-item-qr-img" src="/picture/common/1730387088.png" alt="">
    </div>
</div>

<div class="box-right">
    <div class="shop-page-product-list">
        <ul></ul>
        <div class="product-list-pager-list">
    </div>
</div>

