<li class="shop-page-product-list-item-box">
<div class="shop-page-product-list-item" data-attr="{{product_id}}">
    <div class="product-list-item-toolbar">
        {{^lock}}<span class="edit-btn fa fa-wrench"></span>{{/lock}}
    </div>
    <div class="shop-page-product-list-item-pic-box">
        <img class="shop-page-product-list-item-pic" src="{{product_image_url}}">
    </div>
    <div class="shop-page-product-list-item-text-box">
        <div class="product-list-item-text">
            <a href="javascript:void(0);">{{product_name_summary}}</a>
        </div>
        <div class="product-list-item-text">
            <span class="">{{product_describe_summary}}</span>
        </div>
    </div>
</div>
</li>

