<div class="box-left">
    <div class="shop-page-shop-info box-left-item">
        <h4 class="shop-page-shop-info-title">店铺信息</h4>
        <ul>
            <li>
                <span class="shop-page-shop-info-key">店铺名称</span>
                <span class="shop-page-shop-info-value">{{shop_name}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key">注册时间</span>
                <span class="shop-page-shop-info-value">{{shop_register_time}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-phone"></i></span>
                <span class="shop-page-shop-info-value">{{shop_tel}}</span>
            </li>
            <li>
                <span class="shop-page-shop-info-key"><i class="fa fa-map-marker"></i></span>
                <span class="shop-page-shop-info-value">{{shop_address}}</span>
            </li>
        </ul>
    </div>
</div>

<div class="box-right">
    <div class="shop-page-product-list">
        <ul>
            <li class="shop-page-product-list-item-box">
                <div class="shop-page-product-list-item" data-attr="{{product_id}}">
                    <div class="shop-page-product-list-item-pic-box">
                        <img class="shop-page-product-list-item-pic" src="http://maoejie.u.qiniudn.com/maoejie525e8b39b72c4.jpg?imageView/2/w/360/h/720&e=1385734823&token=ylMDiB_RbB1C1JRaEWHg8fqLmCXxf7RuBbOLKCZu:G1Cnn1eGIetwZbXDrpD89TaFkQw=">
                    </div>

                    <div class="shop-page-product-list-item-text-box">
                        <div class="product-list-item-text">
                            <a href="#">Jeeves Coat Rack{{product_name}}</a>
                        </div>
                        <div class="product-list-item-text">
                            <span class="">简单大方。还能当楼梯爬</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

