<div class="dialog_box">
    <div class="dialog">
        <div class="header">
            <span class="title">店铺申请</span> 
        </div>

        <div class="body">
            <div class="item">
                <input class="input" type="text" name="keeper_name" placeholder="店主姓名">
            </div>

            <div class="item">
                <input class="input" type="text" name="keeper_tel" placeholder="店主联系方式">
            </div>

            <div class="item">
                <input class="input" type="text" name="shop_name" placeholder="店铺名称">
            </div>

            <div class="item">
                <input class="input" type="text" name="shop_address" placeholder="店铺地址">
            </div>

            <div class="item">
                <div class="error_info"></div>
            </div>

            <div class="item">
                <div class="common-text">
                    已经有邀请码了？去 <a href="#seller_signup">注册</a>
                </div>
            </div>

            <div class="item">
                <div class="common-text">
                    已经提交了申请？去 <a href="#apply_result_search">查询</a> 是否已经通过验证
                </div>
            </div>

        </div>

        <div class="footer">
            <div class="btn_ok submit">提交</div>
        </div>
    </div>
</div>

