<li class="stream-item" data-id="{{product_id}}">
<div>{{product_name}}</div>
<div>{{product_class_a_name}} / {{product_class_b_name}}</div>
<div class="img-box">
    <img class="img" src="{{product_image_url}}"/>
</div>
<div class="text-area-height">
    <span>{{product_describe}}</span>
    <span>现价￥{{product_now_price}}</span>
    <span>原价￥{{product_original_price}}</span>
    <span>数量{{product_quantity}}</span>
</div>
</li>

