<ul class="menu">
    <li class="menuitem"><a class="menuitem_link add_new_product" href="javascript:void(0);">添加新的商品</a></li>
    <li class="menuitem"><a class="menuitem_link" href="#my_shop">我的店铺</a></li>
    <li class="menuitem"><a class="menuitem_link" href="#seller_logout">退出登录</a></li>
</ul>

