<div id="categories-browse">
   <div class="categories-list"></div>
   <div class="categories-detail">
        <img src="http://maoejiestatic.u.qiniudn.com/category.jpg?imageView/1/w/200/h/200" />
   </div>
</div>

