<div id="categories_browse">

<div class="categories_list">
    <div class="row">
        <span class="text">服装,饰品</span> <i class="icon-caret-right icon icon-muted"></i>
    </div>
</div>

<div class="categories_detail">
    <div class="row">
        服装,饰品
    </div>
</div>

</div>
