{{#isHomePage}}
<div class="footer-row">
<ul class="footer-row-info-list">
    <li class="footer-row-info-list-item">
        <i class="fa fa-phone"></i> 联系电话：183 4930 7949
    </li>
    <li class="footer-row-info-list-item">
        <i class="fa fa-envelope"></i> 电子邮箱：maoejie@163.com
    </li>
    <li class="footer-row-info-list-item">
        <i class="fa fa-weibo"></i> 新浪微博：<a class="footer-row-info-link" href="#">http://weibo.com/maoejie</a>
    </li>
    <li class="footer-row-info-list-item"> 
        <i class="fa fa-clock-o"></i> 工作时间：每天09:30-18:00
    </li>
</ul>
</div>
{{/isHomePage}}

<div class="footer-row">
    {{^isLogin}}
        <a class="seller_login footer-row-info-link" href="#seller_login"><i class="fa fa-sign-in"></i> 卖家登录</a>
    {{/isLogin}}
    <span>maoejie.com © 2013</span>
</div>

