<div class="item_box" data-attr="{{product_id}}">
    <div class="pic_box">
        <img class="pic" src="{{product_image_url}}">
    </div>

    <div class="text_box">
        <div class="title">
            <a href="#">{{product_name}}</a>
        </div>
        <div class="describe">
            {{product_describe_sumary}}
            <span class="item-box-text-box-price"><i class="fa fa-jpy"></i> {{product_now_price}}</span>
        </div>
    </div>
</div>

