<div class="item_box" data-attr="{{shop_id}}">
    <div class="pic_box">
        <img class="pic" src="{{shop_image_url}}">
    </div>

    <div class="text_box">
        <div class="title">
            <a href="#">{{shop_name}}</a>
        </div>
        <div class="describe">
            <span class="small-text"><i class="fa fa-location-arrow"></i> {{shop_address}} ,</span>
            <span class="small-text"><i class="fa fa-phone"></i> {{shop_tel}}</span>
        </div>
    </div>
</div>

