<div class="logo-box">
    <a href="/" class="logo">
        贸e街
    </a>
</div>

<div id="categories-browse-box"></div>

<div class="nav-item categories-browse-btn">
    <i class="fa fa-reorder"></i>
</div>

<div class="nav-user">
{{#objectUserInfo.username}}
    <div class="nav-item userinfo">
        <span class="username">
            {{objectUserInfo.username}}
            <span class="role"> <i class="fa fa-asterisk"></i> 卖<span>
        </span>
    </div>
{{/objectUserInfo.username}}
</div>

<i class="fa fa-refresh fa-spin loading"></i>
