<ol class="product-list-pager-list-ol">
    {{#pages}}
    <li class="product-list-pager-list-ol-item">
        {{#prevPage}}
            <a href="javascript:void(0);" data-attr="{{prevPage}}">
                <i class="fa fa-angle-double-left"></i>
            </a>
        {{/prevPage}}

        {{#nextPage}}
            <a href="javascript:void(0);" data-attr="{{nextPage}}">
                <i class="fa fa-angle-double-right"></i>
            </a>
        {{/nextPage}}

        {{#page}}
            <a href="javascript:void(0);" data-attr="{{page}}"
                {{#isCurrentPage}}class="product-list-pager-list-ol-item-actived"{{/isCurrentPage}}>{{page}}</a>
        {{/page}}

        {{#pagePlacehoder}}...{{/pagePlacehoder}}
    </li>
    {{/pages}}
</ol>

