<div class="dialog">
<div class="header">
    <span class="title">卖家登录</span> 
    <i class="fa fa-times close"></i>
</div>

<div class="body">
    body
</div>

<div class="footer">
    <div class="btn_ok">登录</div>
</div>
</div>
